.player {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.time-control {
  width: 50%;
  display: flex;
  .p_start-time {
    padding: 1rem;
  }
  input {
    width: 100%;
    padding: 1rem 2rem;
  }

  .p_end-time {
    padding: 1rem 0 1rem 1.5rem;
  }
}

.play-control {
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  svg {
    cursor: pointer;
  }
}
